<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <div class="image-container">
            <img src="assets/sbi.png" class="sbi-logo" alt="...">
        </div>
        <hr class="hr-spacing">
        <mat-icon class="account_icon" style="color: darkmagenta;" fontIcon="account_circle"></mat-icon>
        <hr class="hr-spacing">
        <mat-nav-list class="custom-nav-list">
            <mat-expansion-panel class="custom-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title style="color: white;">
                        <span><b>Proposal Details</b></span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list style="color: white; line-height: 2;">
                    <p>
                        <a class="menu-link" href="#">Client Roles</a><br>
                        <a class="menu-link" href="#">Proposal Details</a><br>
                        <a class="menu-link" href="#">Plan Details</a><br>
                        <a class="menu-link" href="#">Medical Details</a><br>
                        <a class="menu-link" href="#">Other Insurance</a><br>
                        <a class="menu-link" href="#">Bank Details</a><br>
                    </p>
                </mat-list>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-icon-button  (click)="sidenav.toggle()">
            <mat-icon class="menu" style="color: darkblue;">menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
