<div class="card">
    <div class="card-body">
      <mat-card class="details-card">
        <div class="row">
          <div class="col">
            <div class="label-value-pair">
              <div class="label">Policy Number</div>
              <div class="value">XXXXXXXXXXXXXX</div>
            </div>
            <div class="label-value-pair">
              <div class="label">Proposal Category</div>
              <div class="value">Individual</div>
            </div>
            <div class="label-value-pair">
              <div class="label">Proposal Date</div>
              <div class="value">00-00-0000</div>
            </div>
            <div class="label-value-pair">
              <div class="label">Proposal Branch</div>
              <div class="value">XXXXXXXXXXX</div>
            </div>
            <div class="label-value-pair">
              <div class="label">Channel</div>
              <div class="value">Online</div>
            </div>
          </div>
  
          <div class="col">
            <div class="image-box">
              <img src="assets/image1.jpg" alt="" class="image">
            </div>
            <div class="image-box2">
              <img src="" alt="" class="image">
            </div>
          </div>
  
          <div class="col">
            <div class="primary-details">
              <h1>Primary</h1>
              <div class="primary-details-label">Full name of the client</div>
              <div class="primary-details-label">EmailId@gmail.com</div>
              <div class="primary-details-label">+91 9090909000</div>
              <div class="primary-details-label">DD-MM-YYYY</div>
            </div>
          </div>
  
          <div class="col">
            <div class="plan-details">
              <h1>Plan Details</h1>
              <div class="plan-details-label-value2-pair">
                <div class="plan-details-label">Plan Id</div>
                <div class="value2">00-00-0000</div>
              </div>
              <div class="plan-details-label-value2-pair">
                <div class="plan-details-label">Plan Name</div>
                <div class="value2">XXXXXXXXXXXX</div>
              </div>
              <div class="plan-details-label-value2-pair">
                <div class="plan-details-label">Sum Assured</div>
                <div class="value2">XXXXXXX XXXXXXX</div>
              </div>
              <div class="plan-details-label-value2-pair">
                <div class="plan-details-label">Premium Frequency</div>
                <div class="value2">XXXXX XXXXX</div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="small-card small-card-1"></div>
            <div class="small-card small-card-2"></div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  