<div class="container" style="position: relative;">
    <div class="card mt-3" style="background-color:rgb(225, 225, 225) ;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="content-container-top">
                        <div class="content-item-top">
                            <p style="font-size: 8px;"><span>Policy Number</span> <strong class="purple-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xxxxxxxxxxxxxxxx</strong></p>
                        </div>
                        <div class="content-item-top">
                            <p style="font-size: 8px;"><span>Proposal Category</span> <strong class="purple-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Individual</strong></p>
                        </div>
                        <div class="content-item-top">
                            <p style="font-size: 8px;"><span>Proposal Date</span> <strong class="purple-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;00-00-0000</strong></p>
                        </div>
                        <div class="content-item-top">
                            <p style="font-size: 8px;"><span>Proposal Branch</span> <strong class="purple-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xxxxxxxx</strong></p>
                        </div>
                        <div class="content-item-top">
                            <p style="font-size: 8px;"><span>Channel</span> <strong class="purple-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Online</strong></p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-2">
                    <div class="square-box">
                        <div class="square-box2">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-container2">
                        <p style="color: darkmagenta;"><strong>Primary</strong></p>
                        <p style="font-size: 10px;">Full name of the client</p>
                        <mat-icon> email</mat-icon><span class="mail_text ">Email Id@gmail.com</span> 
                        <br>
                        <mat-icon> phone</mat-icon><span class="phone_text">+91 9009009900</span>
                        <br> 
                        <mat-icon>calendar_today</mat-icon><span class="calender_text">DD-MM-YYYY</span>             
                    </div>
                </div>
                
                <div class="col-md-2 text-container3">
                        <p style="color: darkmagenta;"><strong>Plan Details</strong></p>
                        <p style="font-size: 8px;">Plan ID <span class="purple-text1"><strong>00</strong></span></p>
                        <p style="font-size: 8px;"> Plan Name <span class="purple-text1"><strong>xxxxxx xxxxxxxxxxxx</strong></span></p>
                        <p style="font-size: 8px;">Sum Assured <span class="purple-text1"><strong>xxxxxx xxxxxxxxxxxx</strong></span></p>
                        <p style="font-size: 8px;">Premium Frequency <span class="purple-text1"><strong>xxxxxx xxxxxxxxxxxx</strong></span></p>
                </div>
                <div class="col-md-2 d-flex">
                    <mat-card class="small-card">
                        <mat-card-content>
                            <!-- Content above the line -->
                            <img src="../../assets/circle.png" alt="Happy Face" class="happy-face">
                            
                            <hr class="line-divider">
                            
                            <!-- Text below the line -->
                            <p class="credit-score-text" style="color: white;">Credit Score</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-2 d-flex">
                <mat-card class="small-card">
                    <mat-card-content>
                        <!-- Content above the line -->
                        <img src="../../assets/happy face.png" alt="Happy Face" class="happy-face">
                        
                        <hr class="line-divider">
                        <p class="stp-result-text" style="color: white;">STP Result</p>
                    </mat-card-content>
                </mat-card>
                </div>
            </div>
        </div>
        
    </div>
</div>

